extends base

block content
    if(errorMessage)
        span=errorMessage
    form(method="POST")
        input(placeholder="Username", type="text", name="username", required=true)
        input(placeholder="Password", type="password", name="password", required=true)
        input(placeholder="submit",type="submit", value="Login")
        br
        a(href="/users/github/start") Continue with Github &rarr;
    hr
    div
        span Don't have accout? 
        a(href="/join") Join now &rarr;